{% for article in articles %}
    <article id="{{article.title}}" class="post">
        {% if article.image %}<div class="image"><img src="{{article.image}}" alt="{{article.title}}" /></div>{% endif %}
        <h3>{{article.title}}</h3>
        <time>{{article.date}}</time>
        <p class="summary">{{article.summary}}</p>
        <p class="readMoreBtn"><a href="/blog/{{article.url}}">Read More &raquo;</a></p>
    </article>
{% endfor %}
